//
// Global components
//

html, body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: #6395FC;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
