//
// Variables
//

$bp-tablet: 768px;
$bp-desktop: 1024px;

$container-max-width: 1200px;
$container-padding: 0 10px;

$grid-cell-spacing: 15px;

$transition-duration: 0.2s;

$header-link-hover: #EC7363;
